@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600;700;800;900&display=swap');

html {
    font-size: 10px;
}

body {
    background: url('../img/backgroundtop.png') no-repeat center top;
    background-color: var(--primary-color);
    background-size: 100%;
    max-width: 2000px;
    height: auto;
}

/* INÍCIO COM LINKS E LOGO */
#top {
    display: flex;
    flex-direction: column;
    margin: 10em auto 30em;
    padding: 0 2em;
    gap: 15em;
    max-width: 1024px;
}

.up {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.up p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
}

.menu ul {
    display: flex;
    gap: 30px;
}

.menu li {
    letter-spacing: 1px;
    font-weight: 300;
    transition: text-shadow 1s;
    font-size: 2em;
}

.menu li:hover {
    text-shadow: 0 0 5pt var(--active-color);
}

#top img {
    width: 70%;
}

/* ANIMAÇÃO FANTASMA JACK E FOTOS */
#middle {
    display: flex;
    flex-direction: column;
    gap: 10em;
}

.party {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    margin: auto;
    gap: 3em;
}

.jack {
    max-width: 100%;
    position: relative;
    filter: drop-shadow(0px 0px 20px rgba(0, 5, 10, .75));
    animation: jack 1s infinite;
}

@keyframes jack {
    0% {top: 0px;}
    50% {top: 10px;}
    100% {top: 0px;}
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    width: 100%;
    height: auto;
}

.box1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2pt;
    gap: 2em;
}

.text1, .text3 {
    font-size: 3em;
}

.text1 {
    text-align: start;
}

.text2 {
    text-align: center;
    font-size: 6em;
}

.text3 {
    text-align: end;
}

.box2 {
    display: flex;
    align-items: center;
    gap: 3em;
}

.boxphoto {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.box2 img {
    filter: drop-shadow(0px 0px 15px rgba(0, 5, 10, 0.75)) sepia(100);
    opacity: 50%;
    transition-property: opacity, scale, filter;
    transition-duration: 1s;
}

.box2 img:hover {
    filter: sepia(0);
    opacity: 100%;
    scale: 150%;
    z-index: 1;
}

/* AREA DOS SHOWS */
.atractions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_atractions, .confirm_ticket {
    width: 100%;
    padding: 1em 0;
    background-color: var(--dark-color);
    text-align: center;
    font-size: 1.5em;
}

.title_atractions {
    font-weight: 600;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.confirm_ticket {
    font-weight: 300;
    letter-spacing: .1em;
}

.cards_atractions {
    text-align: center;
    width: 100%;
    padding: 2em 0;
    background-color: var(--secondary-color);
}

.card_box {
    display: flex;
    justify-content: space-evenly;
    max-width: 1024px;
    width: 100%;
    padding: 2em 0;
    margin: auto;
}

.card_one, .card_two {
    background-color: var(--secondary-color);
    box-shadow: 0 0 1em rgba(0, 22, 43, .2), inset 0 0 .8em .2em rgba(0, 22, 43, .15);
    border-radius: var(--border-radius);
    display: flex;
    width: 100%;
    padding: 1em;
    margin: 0 1.5em;
    flex-grow: 1;
}

.day, .singer, .local, .hour {
    color: var(--primary-color);
}

.date {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 0 2em 2em;
}

.day {
    font-size: 8em;
}

.month {
    background-color: var(--dark-color);
    padding: .5em;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: .2em;
}

.info_show {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2em 2em 1.5em;
}

.singer {
    display: flex;
    width: 100%;
    margin: auto;
}

.singer_1, .singer_2 {
    font-size: 4em;
    font-weight: 600;
    text-transform: uppercase;
    width: 50%;
}

.singer_1 {
    letter-spacing: .1em;
    border-width: .05em 0 .05em .05em;
    border-style: dashed;
    border-color: var(--dark-color);
    color: var(--primary-color);
    padding: 0 .2em;
}

.singer_2 {
    background-color: var(--dark-color);
    color: var(--secondary-color);
    padding: 0 .5em;
    letter-spacing: auto;
}


/* IMAGENS FOOTER */
.imgfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 2000px;
    gap: 5em;
}

.ready {
    display: flex;
    justify-content: center;
}

/* LINKS DO RODAPÉ */
.final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 2em 0;
    gap: 2em;
    background-color: #000;
}

.footone {
    display: flex;
    justify-content: space-between;
    padding: 2em .5em 0;
    width: 100%;
    height: auto;
    max-width: 1024px;
    margin: auto;
    font-size: 2em;
}

.footone p {
    text-transform: uppercase;
    font-weight: 500;
}

.footerlinks li {
    margin-bottom: .2em;
}

.footerlinks a {
    font-weight: 300;
}

hr {
    border-color: var(--primary-color);
}

.foottwo {
    text-align: end;
    max-width: 1024px;
    width: 100%;
    margin: auto;
    font-size: 1.5em;
    font-weight: 300;
}